
html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-font-size);
	line-height: 1.5;
}

pre, code {
	font-family: var(--font-family-monospace);
}

p, h1, h2, h3, h4, h5, ul, ol, img, blockquote {
	margin: 0 0 20px 0;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

p > code {
	display: inline-block;
	background: #F0F5FF;
	border: 2px solid #E0EBFB;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 0 4px;
}

blockquote {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 8px solid var(--color-brand);
	font-style: italic;
}