:root {
    --grid-size: 4px;
    --border-radius: 2px;
    --border-width: 2px;
    --border-width-negative: calc(var(--border-width) * -1);
    --border-color: #eee;
    --border-color-clickable: #cfcfcf;
    --border-color-clickable-hover: #707070;
    --border-color-clickable-focus: #707070;
    --border-color-clickable-active: #393939;
    --border-color-disabled: var(--border-color);
    --border-color-working: #949494;
    --box-shadow-width-clickable-focus: calc(var(--grid-size) * 2);
    --box-shadow-clickable-focus: 0 0 var(--box-shadow-width-clickable-focus) #cfcfcf;
    --background-color: #fff;
    --background-color-grey: #fdfdfd;
    --background-color-mid-grey: var(--border-color);
    --background-color-dark-grey: #dedede;
    --background-color-disabled: var(--border-color-disabled);
    --background-color-working: var(--background-color-disabled);
    --background-color-info: #e0ebfb;
    --background-color-error: #ffe7ea;
    --background-color-warning: #ffede5;
    --background-color-success: #ebf6e7;
    --gap: calc(var(--grid-size) * 5);
    --gap-negative: calc(var(--gap) * -1);
    --gap-double: calc(var(--gap) * 2);
    --gap-half: calc(var(--gap) * 0.5);
    --color-text: #222;
    --color-nimbus: #888;
    --color-stratus: #eee;
    --color-alto: #cfcfcf;
    --color-brand: #034ad8;
    --color-carbon: #393939;
    --cc-light-blue: #f0f5ff;
    --color-carbon: #393939;
    --color-info: #034ad8;
    --color-error: #f03a47;
    --color-warning: #fc6d26;
    --color-success: #38a413;
    --color-disabled: #949494;
    --color-working: var(--color-disabled);
    --transition-duration: 0.15s;
    --font-family: "TT Norms Pro", helvetica, arial, sans-serif;
    --font-family-monospace: "Inconsolata", consolas, monaco, monospace;
    --font-size: 16px;
    --input-padding-vertical: calc(var(--grid-size) * 2);
    --input-padding-horizontal: calc(var(--grid-size) * 3);
    --input-icon-size: 50px;
    --layout-gap: var(--gap-double);
    --layout-gap-top: calc(var(--gap) * 5);
    --column-max-width: 626px;
}