.c-post {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;

	&__content {
		flex: 1 1 200px;
		display: flex;
		gap: 20px;
		flex-direction: column;
	}


	&__image {
		flex: 1 1 200px;
		
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__date {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		color: var(--color-neptune);
		margin: 0;
	}

	&__heading {
		font-size: 28px;
		font-weight: normal;
		color: var(--color-neptune);
		margin: 0;
	}
}