.c-quotes {
	display: grid;
	gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

	&__block {
		display: flex;
		flex-direction: column;
		min-height: 260px;
		padding: 20px;
		justify-content: space-between;
		border: 2px solid #eee;
		border-radius: 8px;
		box-shadow: 0 8px 46px -13px rgba(53, 67, 97, 0.15);

		&--missing {
			justify-content: center;
			text-align: center;
		}
	}

	@media (max-width: 800px) {
		grid-template-columns: 1fr;
		gap: 20px;

		&__block {
			min-height: auto;
		}
	}


	&__text {
		font-size: 21px;
	
		&::before {
			content: "“"
		}
	
		&::after {
			content: "”"
		}
	}

	&__author {
		display: flex;
		gap: 10px;
	}

	&__author-image {
		flex: 0 0 40px;
		margin: 0;
	}

	&__author-content {
		font-size: 12px;

		p {
			margin: 0;
			
		}
	}

	&__missing-header {
		color: var(--color-brand);
		margin: 0 0 10px 0;
	}

	&__missing-description {
		color: var(--color-neptune);
	}


    // @include breakpoint(laptop) {
    //     grid-template-columns: 1fr 1fr;
    //     min-height: 400px;
    // }

    // @include breakpoint(desktop) {
    //     min-height: 680px;
    // }


}