.c-side-by-side {
	display: flex;
	gap: 80px;
	flex-wrap: wrap;

	@media (max-width: 700px) {
		gap: 40px;
	}

	&__code {
		flex: 1 1 300px;
		min-width: 0;
	}

	&__content {
		flex: 1 1 300px;
		min-width: 0;
	}
}